html, body, .container {
  height: 100%;
  width: 100%;
  background-image: url('../img/4683.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 20px;
  font-variant: small-caps;
}

h1 {
  text-align: center;
}
button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #151515;
  background-color: rgba(245, 245, 245, 0.4);
  border: none;
  margin: none;
  border-radius: 15px;

}

button:hover {background-color: #d3d3d3;}

button:active {
  background-color: #696969
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.well, .jumbotron {
  background-color: rgba(245, 245, 245, 0.4);
}

#questions .item {
  float: center;
  display: none;
  text-align: left;
}

.result {
  display: none;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}

.next {
  float: right;
  display: none;
}

.submit {
  float: right;
  display: none;
}

.intro {
  text-align: center;
  font-weight: bold;
}
.footnote{
  font-size: 15px;
}
